{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
  {{ with .GetTerms "tags" }}
  {{ range . }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
  {{ end }}
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}
{{ if or .Params.discuss_tg .Params.discuss_x }}<p>Обсудить в {{ with .Params.discuss_tg }} <a href="{{ . }}">{{ partial
    "icon-telegram.html" . }} Telegram</a>{{ end }}{{ if and .Params.discuss_tg .Params.discuss_x }} /{{ end }}{{ with
  .Params.discuss_x }} <a href="{{ . }}">{{ partial "icon-x.html" . }} Twitter</a>{{ end }}</p>{{ end }}
{{ end }}

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}
{{ end }}